[submodule "ProjAED2"]
	path = ProjAED2
	url = https://github.com/matilde-silva-21/ProjAED2
	branch = main

[submodule "ProjAED"]
	path = ProjAED
	url = https://github.com/matilde-silva-21/ProjAED
	branch = main
